@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:500,400|Space+Grotesk:500,700");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
.BLOG {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.BLOG .div {
  background-color: #ffffff;
  width: 1440px;
  height: 6375px;
  position: relative;
}
.BLOG .overlap {
  position: absolute;
  width: 1279px;
  height: 192px;
  top: 2389px;
  left: 70px;
  background-color: #b4e160;
  border-radius: 30px;
}
.BLOG .text-wrapper {
  position: absolute;
  top: 30px;
  left: 8px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 33px;
  letter-spacing: 0;
  line-height: normal;
}
.BLOG .p {
  position: absolute;
  width: 1157px;
  top: 85px;
  left: 43px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}
.BLOG .frame {
  position: absolute;
  width: 1274px;
  height: 45px;
  top: 48px;
  left: 97px;
}
header {
    background-color: #ffffff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #222;
    margin-left: 20px;
    margin-bottom: 20px;
}
nav ul {
    padding: 12px;
    margin: 12px;
    display: flex;
}
nav ul li {
    margin-left: 2px;
}
nav ul li a {
    color: #555;
    font-family: sans-serif;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 5px;
}
nav ul li a:hover {
    color: #00a650;
}
.BLOG .text-wrapper-4 {
  position: absolute;
  width: 110px;
  top: 6px;
  left: 52px;
  font-family: "Space Grotesk", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 28px;
}
.BLOG .overlap-3 {
  position: absolute;
  width: 178px;
  height: 44px;
  top: 0;
  left: 1096px;
}
.BLOG .rectangle-2 {
  position: absolute;
  width: 178px;
  height: 40px;
  top: 0;
  left: 0;
  background-color: #e9f5ec;
  border-radius: 30px;
}
.BLOG .overlap-4 {
  position: absolute;
  width: 1252px;
  height: 554px;
  top: 176px;
  left: 94px;
  background-color: #fcfdf66b;
  border-radius: 79px;
}
.BLOG .img {
  position: absolute;
  width: 469px;
  height: 554px;
  top: 0;
  left: 37px;
  object-fit: cover;
}
.BLOG .gelece-in-liderleri {
  position: absolute;
  width: 562px;
  top: 72px;
  left: 626px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
}
.BLOG .span {
  color: #000000;
}
.BLOG .text-wrapper-5 {
  font-style: italic;
  color: #f41919;
}
.BLOG .frame-2 {
  position: absolute;
  width: 1279px;
  height: 856px;
  top: 5261px;
  left: 70px;
  background-color: #f6ffe06b;
  border-radius: 115px;
}
.BLOG .overlap-5 {
  position: absolute;
  width: 1124px;
  height: 408px;
  top: 51px;
  left: 88px;
}
.BLOG .rectangle-3 {
  position: absolute;
  width: 342px;
  height: 360px;
  top: 17px;
  left: 782px;
  object-fit: cover;
}
.BLOG .irketinizin-s-rd-r {
  position: absolute;
  width: 818px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}
.BLOG .text-wrapper-6 {
  font-weight: 500;
}
.BLOG .text-wrapper-7 {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
}
.BLOG .te-tam-da-bu-kritik {
  position: absolute;
  width: 1114px;
  top: 503px;
  left: 64px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}
.BLOG .text-wrapper-8 {
  color: #f02d2d;
}
.BLOG .enerji {
  position: absolute;
  width: 1279px;
  height: 529px;
  top: 2604px;
  left: 70px;
  background-color: #fbfdf6;
  border-radius: 48px;
}
.BLOG .enerji-s-rd-r {
  position: absolute;
  width: 830px;
  top: 45px;
  left: 83px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}
.BLOG .text-wrapper-9 {
  font-weight: 500;
  color: #17571e;
}
.BLOG .text-wrapper-10 {
  font-weight: 500;
  color: #000000;
}
.BLOG .rectangle-4 {
  position: absolute;
  width: 378px;
  height: 525px;
  top: 4px;
  left: 901px;
  object-fit: cover;
}
.BLOG .su {
  position: absolute;
  width: 1279px;
  height: 532px;
  top: 3173px;
  left: 70px;
}
.BLOG .rectangle-5 {
  position: absolute;
  width: 1227px;
  height: 529px;
  top: 0;
  left: 52px;
  background-color: #d9d9d9;
  border-radius: 48px;
}
.BLOG .rectangle-6 {
  position: absolute;
  width: 1279px;
  height: 529px;
  top: 0;
  left: 0;
  background-color: #fcfdf6;
  border-radius: 48px;
}
.BLOG .su-y-netimi-de-erli {
  position: absolute;
  width: 830px;
  top: 58px;
  left: 445px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}
.BLOG .rectangle-7 {
  position: absolute;
  width: 378px;
  height: 525px;
  top: 7px;
  left: 52px;
  object-fit: cover;
}
.BLOG .group {
  position: absolute;
  width: 1440px;
  height: 128px;
  top: 6247px;
  left: 0;
}
.BLOG .overlap-8 {
  position: relative;
  height: 128px;
}
.BLOG .frame-3 {
  position: absolute;
  width: 1440px;
  height: 86px;
  top: 42px;
  left: 0;
  background-color: #484646;
}
.BLOG .div-wrapper {
  position: absolute;
  width: 446px;
  height: 50px;
  top: 0;
  left: 548px;
}
.BLOG .text-wrapper-11 {
  position: absolute;
  width: 224px;
  top: 69px;
  left: 54px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #fbeeee;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.BLOG .atık {
  position: absolute;
  width: 1279px;
  height: 552px;
  top: 3752px;
  left: 70px;
}
.BLOG .rectangle-8 {
  position: absolute;
  width: 378px;
  height: 464px;
  top: 88px;
  left: 893px;
  object-fit: cover;
}
.BLOG .at-k-y-netimi-ve-d {
  position: absolute;
  width: 830px;
  top: 38px;
  left: 80px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}
.BLOG .karbon {
  position: absolute;
  width: 1279px;
  height: 529px;
  top: 4330px;
  left: 70px;
  background-color: #fcfdf6;
  border-radius: 48px;
}
.BLOG .rectangle-9 {
  position: absolute;
  width: 300px;
  height: 520px;
  top: 0;
  left: 52px;
}
.BLOG .karbon-y-netimi-ve {
  position: absolute;
  width: 830px;
  top: 38px;
  left: 409px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}
.BLOG .text-wrapper-12 {
  font-weight: 600;
  color: #16571e;
}
.BLOG .rectangle-10 {
  position: absolute;
  width: 1227px;
  height: 227px;
  top: 4931px;
  left: 122px;
  object-fit: cover;
}
.BLOG .frame-4 {
  position: absolute;
  width: 1397px;
  height: 1351px;
  top: 884px;
  left: 16px;
}
.BLOG .kurumsal-s {
  position: absolute;
  width: 1196px;
  height: 1351px;
  top: 0;
  left: 201px;
  background-color: #fcfff4;
  border-radius: 62px;
}
.BLOG .kurumsal {
  position: absolute;
  width: 1094px;
  top: 43px;
  left: 78px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 21px;
  letter-spacing: 0;
  line-height: normal;
}
.BLOG .rectangle-11 {
  position: absolute;
  width: 188px;
  height: 1351px;
  top: 0;
  left: 0;
  object-fit: cover;
}